#resume{
	 color: white;
}

#resume-main{
	display: grid;
	color: white;
	font-family: inconsolata;
	grid-template-rows: auto auto;
}

#view-resume-link{
	color: white;
	text-decoration: none;
}

#dl-resume-link{
	color: white;
	text-decoration: none;
}

#dl-resume-wrapper{
	grid-row-start: 1;
	grid-row-end: 2;
}

#view-resume-wrapper{
	grid-row-start: 2;
	grid-row-end: 3;
}