@font-face {
    font-family: atom;
    src: url('../../assets/fonts/DejaVuSansMono.ttf');
}

html{
    min-height: 100%;
    background-color: #1f1f1f !important;
}

body{
    min-height: 100%;
}

#wrapper{
    display: grid;
    grid-template-columns: 30% 60% 10%;
}

#navbar{
    grid-column-start: 1;
    grid-column-end: 2;
    display: grid;
    grid-template-rows: 100vh;
    align-items: center;
}

#navbar-list{
    display: grid;
    grid-template-rows: auto auto auto auto;
    grid-row-gap: 5px;
}

#navbar ul{
    list-style-type: none;
}

/** Left Nav Bar**/
#navbar ul li{
    padding: 5px;
    font-size: 13px;
    transition: all .3s ease;
    font-family: atom;
    justify-self: start;
    min-width: 90px;
    border-bottom: 0.5px solid #888a87;
}

#navbar ul li:last-child {
  border: none;
}

#home{
    color: white;
}

#navbar ul li a{
    float: left;
    color: #888a87;
}

#about{
    grid-row-start: 1;
    grid-row-end: 2;
    cursor: pointer;
}

#resume{
    grid-row-start: 2;
    grid-row-end: 3;
    cursor: pointer;
}

#interests{
    grid-row-start: 3;
    grid-row-end: 4;
    cursor: pointer;
}

#contact{
    grid-row-start: 4;
    grid-row-end: 5;
    cursor: pointer;
}

/** Right Section **/
#home-main{
    grid-column-start: 2;
    grid-column-end: 3;
    display: grid;
    grid-template-rows: auto auto auto auto
}

#photo{
    grid-row-start: 1;
    grid-row-end: 2;
    justify-self: center;
}

#headshot{
    max-width: 250px;
    align-self: center;
}

#intro{
    color: #888a87;
    font-size: 11;
    font-family: inconsolata;
}

hr{
    border: 0; 
    height: 0.25px;
    background-image: -webkit-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
    background-image: -moz-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
    background-image: -ms-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
    background-image: -o-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
}